<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="header :: common_header(~{::title},~{::link})">

  <link rel="stylesheet" th:href="@{/css/bulma-checkradio.min.css}">
  <title th:text="#{global.page.title}">Gaining Confidence</title>
</head>

<body>
<nav th:replace="nav :: common_nav"></nav>
<div class="container" style="padding-top: 25px;">
  <span class="tag is-primary">Gaining Confidence</span>
  <span class="e2e__user-text" sec:authorize="hasRole('USER')">Text visible to user.</span>
  <span class="e2e__admin-text" sec:authorize="hasRole('ADMIN')">Text visible to admin.</span>
</div>

</body>
