<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,links)">

    <meta charset="utf-8">
    <meta name="referrer" content="no-referrer">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title th:replace="${title}">Gaining Confidence</title>
    <link rel="stylesheet" th:href="@{/css/bulma.min.css}">
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
    <script defer th:src="@{/js/vendor/font-awesome.all.js}"></script>

    <script defer th:src="@{/js/vendor/pace.min.js}"></script>
    <th:block th:replace="${links}"/>
</head>
</html>
