<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
>
<nav th:fragment="common_nav" class="navbar is-light">


    <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-disabled e2e__current-language" th:text="${#locale.getDisplayLanguage(#locale)}">
                    Deutsch
                </a>
                <div class="navbar-dropdown is-boxed">
                    <a th:each="loc : ${otherLocales}" class="navbar-item e2e__language-select"
                       th:text="${loc.getDisplayLanguage(loc)}" th:href="@{''(lang=${loc})}">
                        English
                    </a>
                </div>
            </div>
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="control">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="bd-tw-button button e2e__logout-button">
                            <span class="icon">
                                <i class="fas fa-sign-out-alt"></i>
                            </span>
                            <span class="e2e__logout-button--text" th:text="#{nav.logout}">
                                Logout
                            </span>
                        </button>
                    </form>
                    </p>

                </div>
            </div>
        </div>
    </div>
</nav>
</html>
