<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: common_header(~{::title},~{::link})">

    <title th:text="#{login.page.title(#{global.page.title})}">Login - Gaining Confidence</title>
    <link th:href="@{css/login/login.css}" href="../../static/css/login/login.css" rel="stylesheet"/>
</head>

<body>
<section class="hero is-success is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-4 is-offset-4">
                <h3 class="title has-text-grey" th:text="#{login.title}">Login</h3>
                <p class="subtitle has-text-grey" th:text="#{login.proceed}">Please login to proceed.</p>
                <div class="box">
                    <figure class="avatar">
                        <img th:src="@{img/public/avatar.png}" src="https://placehold.it/128x128">
                    </figure>
                    <form th:action="@{/login}" method="post">
                        <div class="field">
                            <div class="control">
                                <input class="input is-large e2e__username" type="text" id="username" name="username"
                                       th:placeholder="#{login.username.placeholder}" placeholder="Your Username" autofocus="">
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <input class="input is-large e2e__password" name="password" id="password" type="password" autocomplete="off"
                                       th:placeholder="#{login.password.placeholder}" placeholder="Your Password">
                            </div>
                        </div>
                        <div class="field">
                            <label class="checkbox">
                                <input type="checkbox" name="remember-me" th:text="#{login.rememberme}">

                            </label>
                        </div>
                        <article th:if="${loginError}" class="message is-danger">
                            <div class="message-body e2e__login-failed-message" th:text="#{login.failed}">
                                Login failed. Check your username and password.
                            </div>
                        </article>
                        <button type="submit" class="button is-block is-info is-large is-fullwidth e2e__login-button"
                                th:text="#{login.button}">
                        </button>
                    </form>
                </div>
                <p class="has-text-grey">
                    <a href="" th:text="#{login.password.forgotten}">Forgot Password</a> &nbsp;·&nbsp;
                    <a href="" th:text="#{login.help}">Need Help?</a>
                </p>
            </div>
        </div>
    </div>
</section>
</body>

</html>
